.personalList {
  margin: 1rem 0;
  font-family: Arial, sans-serif;
}

.personalList input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.personalList table {
  width: 100%;
  border-collapse: collapse;
}

.personalList th,
.personalList td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: center; /* Centra el contenido en las celdas */
}

.personalList th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.personalList tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}

.personalList tbody tr:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .personalList th,
  .personalList td {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 480px) {
  .personalList th,
  .personalList td {
    font-size: 0.6rem;
  }
}

.linkTable {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
  text-align: center; /* Centra el texto en los botones */
  background-color: transparent; /* Elimina el fondo del botón */
  border: none; /* Elimina el borde del botón */
  cursor: pointer;
}

.linkTable:hover {
  background-color: #f0f0f0; /* Cambia el fondo del botón al pasar el cursor */
}
